@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --primary-color: #F9A826;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

hr {
    margin: 2rem 0rem;
}

/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: black;
    font-weight: 600;
}

.link-secondary{
    border: 1px solid var(--primary-color);
    color: black;
    font-weight: 600;
    border-radius: 00.5rem;
}