@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --primary-color: #F9A826;
    --secondary-color: black;
    --dark-gray: #71717a;
    --green-color: green;
    --off-white: #f4f4f5;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    text-justify: auto;
}

hr {
    margin: 2rem 0rem;
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
    font-weight: 600;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
    border-radius: 00.5rem;
}

.list-nobullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */

.nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav .link {
    color: black;
    font-weight: 600;
}

.nav .nav-list {
    text-align: right;
}

.nav .link-active {
    font-weight: bold;
    color: var(--green-color);
}

/* Header */

.hero {
    padding: 2rem;
}

.hero .hero__img {
    max-width: 400px;
    display: block;
    margin: auto;
}

.hero .hero__heading {
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading-focus {
    color: var(--primary-color);
}

.hero .hero-heading-focus2 {
    color: var(--green-color);
}

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.section-ow{
    background-color: var(--off-white);
}
