@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --primary-color: #F9A826;
    --secondary-color: black;
    --light-gray: #94a3b8;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

hr {
    margin: 2rem 0rem;
}

/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: black;
    font-weight: 600;
}

.link-secondary{
    border: 1px solid var(--primary-color);
    color: black;
    font-weight: 600;
    border-radius: 00.5rem;
}

.list-nobullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */

.nav{
background-color: var(--primary-color);
color: black;
padding: 1rem;
border-bottom-left-radius: 1rem;
}

.nav .nav-brand{
    font-weight: bold;
    font-size: 1.2rem;
}

.nav .link{
    color: black;
    font-weight: 600;
}

.nav .nav-list{
    text-align: right;
}

.nav .link-active{
    font-weight: bold;
    color: green;
}

/* Header */

.hero{
    padding: 2rem;
}

.hero .hero__img{
    max-width: 400px;
    display: block;
    margin: auto;
}

.hero .hero__heading{
    padding-top: 1rem;
    color: var(--light-gray);
}

.hero .hero-heading-focus{
    color: var(--primary-color);
}
